@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap');

:root {
    --deg-initialiser: 45deg;
}

body {
    background-color: black;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    color:bisque;
    text-align: center;
}





/* ========================= FIXATION ====================== */

.fix > * {
    height: 20px;
    background-color: darkred;
}

.fix .fix-top {
    width: 200px;
    margin: 0 auto;
}

.fix .fix-middle {
    width: 400px;
    transform-origin: left;
    transform: rotate(90deg);
    margin: -20px 50%;
}

.fix .fix-bottom {
    width: 600px;
    margin: 400px auto 0 auto;
}





/* ========================= PENDULUM ======================== */

.pendulum {
    position: absolute;
    top: 90px;
    left: calc(50% - 150px - 25px);
    transform-origin: center;
    animation: balance 1.5s ease-in-out 0s infinite alternate;
}


.pendulum-bar {
    width: 300px;
    height: 1px;
    background-color: bisque;
    margin: 20px 50%;
}

.pendulum-ball {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
    border-radius: 50%;
    margin: -50px 0 0 calc(300px + 50%);
}

@keyframes balance {
    from {transform: rotate(var(--deg-initialiser))}
    to {transform: rotate(135deg)}
}

.pendulum-holder {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 102px; 
    left: calc(50% - 7.5px);
}



/* ===================== DEG INITIALISER ===================== */

.deg-initialiser {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.deg-initialiser .deg {
    height: 30px;
    width: 150px;
    background-color: transparent;
    color:bisque;
    text-align: center;
    border: solid 1px darkred;
    font-family:'Raleway', sans-serif;
}

.deg-initialiser #submit {
    height: 40px;
    width: 70px;
    background-color: darkred;
    color:bisque;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    border: none;
    border-radius: 10%;
}


